.homeWrapper {
  width: 100%;
  background-color: #090f57e2;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}
.title-box1 {
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title-box2 {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../../images/h.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title-text {
  font-size: 4rem;
  color: aliceblue;
  font-weight: 500;
  font-family: "Roboto";
}

.title-text-mini {
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: 500;
  font-family: "Poppins";
}

.btn-transparent {
  border: 2px solid white;
}
