.navbar {
  background-color: #091057 !important;
}

ul li a {
  color: rgb(255, 255, 255) !important;
  font-weight: 00;
}

.logo-text {
  font-size: 2rem;
  font-family: "Poppins";
  color: aliceblue;
}

.logo-text span {
  color: rgb(235, 193, 9);
}

.nav-logos {
  color: white !important;
  width: 260px;
  align-items: center;
  font-size: 1.2rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart span {
  font-size: 14px;
  color: red;
  background-color: white;
  border-radius: 50%;
  font-weight: 700;
  height: 19px;
  width: 19px;
  display: flex;
  align-items: center;
  margin-right: -2px;
  margin-top: -10px;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dropdown .btn {
  background-color: transparent !important;
  border: none;
}

.dropdown .btn:active,
.dropdown .btn:focus,
.dropdown .btn:hover {
  border: none;
  box-shadow: none;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  border: none;
  box-shadow: none;
}

.dropdown-menu .show a a {
  width: 100% !important;
  height: 100% !important;
  text-decoration: none !important;
}
