.navbar {
  background-color: #091057 !important;
}

ul li a {
  color: rgb(255, 255, 255) !important;
  font-weight: 00;
}

.logo-text {
  font-size: 2rem;
  font-family: "Poppins";
  color: aliceblue;
}

.logo-text span {
  color: rgb(235, 193, 9);
}

.nav-logos {
  color: white !important;
  width: 140px;
  align-items: center;
  font-size: 1.2rem;
}
