.navbar {
  background-color: rgba(12, 12, 119, 0.836) !important;
}
ul li a {
  color: rgb(255, 255, 255) !important;
  font-weight: 00;
}

.logo-text {
  font-size: 2rem;
  font-family: "Poppins";
  color: aliceblue;
}

.logo-text span {
  color: rgb(235, 193, 9);
}
